@media (max-width: 2560px) {
  footer {
    &.footer-container {
      background-color: #059669;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      h3 {
        color: #f3f4f6;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
          'Noto Color Emoji';
        font-size: 32px;
        font-weight: 400;
        padding: 8px;
        text-align: center;
      }
    }
  }
}
@media (max-width: 1920px) {
  footer {
    &.footer-container {
      background-color: #059669;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      h3 {
        color: #f3f4f6;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
          'Noto Color Emoji';
        font-size: 24px;
        font-weight: 400;
        padding: 8px;
        text-align: center;
      }
    }
  }
}
@media (max-width: 1440px) {
  footer {
    &.footer-container {
      background-color: #059669;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      h3 {
        color: #f3f4f6;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
          'Noto Color Emoji';
        font-size: 24px;
        font-weight: 400;
        padding: 8px;
        text-align: center;
      }
    }
  }
}
@media (max-width: 1024px) {
  footer {
    &.footer-container {
      background-color: #059669;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      h3 {
        color: #f3f4f6;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
          'Noto Color Emoji';
        font-size: 16px;
        font-weight: 400;
        padding: 8px;
        text-align: center;
      }
    }
  }
}
@media (max-width: 768px) {
  footer {
    &.footer-container {
      background-color: #059669;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      h3 {
        color: #f3f4f6;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
          'Noto Color Emoji';
        font-size: 15px;
        font-weight: 400;
        padding: 8px;
        text-align: center;
      }
    }
  }
}
@media (max-width: 425px) {
  footer {
    &.footer-container {
      background-color: #059669;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      h3 {
        color: #f3f4f6;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
          'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
          'Noto Color Emoji';
        font-size: 15px;
        font-weight: 400;
        padding: 8px;
        text-align: center;
      }
    }
  }
}
